:root {
    --white-text: #ffffff;
    --black-text: #333333;
    --grey-text: #999999;
}

body {
    font-family: 'Open Sans';
    position: relative;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0;
}
.header-top {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #000000;
}
.header-top__content {
    display: flex;
    justify-content: space-between;
}
.nav-list {
    display: flex;
    align-items: center;
    height: 100%;
}
.nav-item:not(:last-child) {
    margin-right: 62px;
}
.nav-link {
    padding: 0;
    font-weight: 600;
    font-size: 18px;
    color: var(--white-text);
}
.btn-login {
    position: relative;
    background-color: transparent;
    border: none;
    font-weight: 400;
    font-size: 18px;
    color: var(--white-text);
}
.btn-login::before {
    position: absolute;
    width: 13px;
    height: 13px;
    content: "";
    background-image: url(/img/login.svg);
    right: 70px;
    top: 14px;
}
.header-down {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.4);
}
.header-down__content {
    display: flex;
    justify-content: space-between;
}
.trends-list {
    position: relative;
    display: flex;
}
.trends-item:not(:last-child) {
    margin-right: 111px;
}
.trends-item {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    color: var(--white-text);
}
.trends-item::after {
    position: absolute;
    width: 12px;
    height: 7px;
    content: "";
    background-image: url(/img/arrow.svg);
    top: 12px;
    margin-left: 3px;
}
.trends-dropdown {
    display: none;
    width: 300px;
    top: 48px;
    position: absolute;
}
.dropdown-item {
    padding-left: 0;
}
.hero {
    position: absolute;
    width: 100%;
    height: 800px;
    top: 0;
}
.hero__content {
    width: 597px;
    padding-top: 233px;
}
.content__title {
    height: 192px;
    font-weight: bold;
    font-size: 72px;
    line-height: 83px;
    margin-bottom: 1px;
}
.content__text {
    width: 579px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 92px;
}
.content__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 314px;
    height: 70px;
    background-color: #9D5CD0;
    border-radius: 100px;
}
.btn-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    width: 100%;
    height: 100%;
    color: var(--white-text);
}
.swiper-container {
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 678px;
}
.swiper-slide.first-slide {
    background-image: url(/img/hero-slide1.jpg);
}
/* .choices__inner {
    padding: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 15px !important;
    border: none !important;
    border-radius: 10px !important;
    background-color: transparent !important;
}
.choices__item.choices__item--choice.choices__item--selectable {
    color: var(--black-text);
    padding-right: 0;
}
.choices__list--single {
    padding-top: 11px !important;
    font-size: 18px;
    color: var(--white-text);
    opacity: 1;
}
.choices__placeholder {
    opacity: 1 !important;
}
#choices--selectCustom-item-choice-3 {
display: none !important;
}
.choices[data-type*=select-one]:after {
    display: none;
} */
#search {
    width: 218px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}
#search::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.85);;
}




















@media (min-width: 1700px) {
    .container {
        max-width: 1600px;
    }
}
